<%= stylesheet_link_tag('home_index') %>
<div class="todo">
  <h1>Goals</h1>
</div>
<div class='alarm'>
  <h1>Clock</h1>
  <div class="clock">
  </div>
</div>
<div class="done">
  <h1>Completed Tasks</h1>
</div>